.heading-m {
  font-size: 2rem; //32px
  font-weight: 700;
}

.heading-s {
  font-size: 1rem; //16px
  font-weight: 600;
}

.body-m {
  font-size: 1rem; //16px
  font-weight: 400;
}
.body-s {
  font-size: 0.75rem; //16px
  font-weight: 400;
}
