@use "../abstracts/variables" as *;
@use "../base/typography" as *;

.tab {
  @apply heading-s;
  color: $GREY;
  background: transparent;
  border: 0;
  border-radius: 0.5rem;
  outline: 0;
  padding: 0.75rem 1.7rem;
  width: fit-content;
  cursor: pointer;
  transition: background-color 250ms ease-out, color 250ms ease-out;

  .link-icon-container svg path {
    transition: fill 250ms ease-out;
  }

  &:hover {
    color: $PURPLE;
    .link-icon-container svg path {
      fill: $PURPLE;
    }
  }

  &.active {
    background: $LIGHT-PURPLE;
    color: $PURPLE;
    .link-icon-container svg path {
      fill: $PURPLE;
    }
  }
}
