@use "../abstracts/variables" as *;

.div-container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.bg-pure-white {
  background-color: $WHITE;
}

.bg-light-grey {
  background-color: $LIGHT-GREY;
}

.bg-purple {
  background-color: $PURPLE;
}

.bg-light-purple {
  background-color: $LIGHT-PURPLE;
}

.border-borders {
  border-color: $BORDERS;
  border-style: solid;
}

.border-purple {
  border-color: $PURPLE;
  border-style: solid;
}

.centered-axis-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
