$PURPLE: #633cff;
$PURPLE-HOVER: #beadff;
$LIGHT-PURPLE: #efebff;
$DARK-GREY: #333;
$GREY: #737373;
$BORDERS: #d9d9d9;
$LIGHT-GREY: #fafafa;
$WHITE: #fff;
$RED: #ff3939;
$LIGHT-RED: #ff8080;

$breakpoint-medium: 48rem;
$breakpoint-large: 60rem;
